<div class="container received-questions">
  <h1 class="title">Received Questions</h1>

  <% current_user.unanswered_questions.each do |question| %>
    <div class="list-received-questions">
      <div class="row">
        <div class="col">
          <small class="text-muted">
            <em>Sent by&nbsp;</em>
            <% if question.anonymous %>
              anonymous
            <% else %>
              <a href="<%= profile_show_path(username: question.sender.username) %>">
                <%= question.sender.username %>
              </a>
            <% end %>
          </small>
          <h1><%= question.content %></h1>

          <%= render 'answers/form', answer: Answer.new, question: question %>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.unanswered_questions.empty? %>
    <div class="row profile">
      <div class="col text-center">
        <p class="empty-message">Nothing to see <span>here</span>.</p>
      </div>
    </div>
  <% end %>

</div>
