<%= form_with(model: like, local: true) do |form| %>

  <%= form.hidden_field :answer_id, value: answer.id, id: :likes_answer, class: 'form-control' %>
    <button type="submit" name="commit" class="btn-like"><%= fa_icon 'heart', class: 'gray' %></button>
<% end %>
