/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';

$redColor: #bc1823;
$fontTitle: 'Amaranth';

body{
  padding-bottom: 100px;
}

#error_explanation{
  h2{
    font-size: 1.5em;
  }

  @extend .alert;
  @extend .alert-danger;
}

#navbar-ccc {
  background-color: white !important;
  font-family: $fontTitle, sans-serif;
  border-bottom: 1px solid lightgray;
  margin-bottom: 50px;
  .img-nav{
    width: 200px;
  }
}

.full-screen{
  height: 100vh;
  width: 100%;
  padding: 0 2%;
  display: table;
  margin: 0;
  max-width: none;
}

.middle-fullscreen {
  display: table-cell;
  vertical-align: middle;
}

.box-home{
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-right: 3px solid black;
  background-color: $redColor;
  padding: 25px 0;
  font-family: $fontTitle, sans-serif;
  h1{
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
  }
  h2{
    font-size: 1.5em;
    font-family: $fontTitle, sans-serif;
    padding: 2px;
    a, a:link, a:visited, a:hover{
      color: black;
      text-decoration: none;
    }
  }
}

.default-form{
  h2, label{
    font-family: $fontTitle, sans-serif;
  }
  h2{
    margin-bottom: 20px;
    color: $redColor;
  }
  a {
    color: $redColor;
  }
}

