/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';

$red-color: #d60042;
$font-default: 'Amaranth', sans-serif;
$font-special: 'Rajdhani', sans-serif;

body {
  padding-bottom: 100px;
}

#error_explanation {
  h2 {
    font-size: 1.5em;
  }

  @extend .alert;
  @extend .alert-danger;
}

#navbar-ccc {
  background-color: white !important;
  font-family: $font-default, sans-serif;
  margin-bottom: 50px;
  .img-nav {
    width: 200px;
  }
  a.dropdown-item {
    color: black !important;
  }
  a.dropdown-item:hover {
    color: white !important;
    background-color: $red-color;
  }
}

.alert-app {
  font-family: $font-special;
}

.full-screen {
  height: 100vh;
  width: 100%;
  padding: 0 2%;
  display: table;
  margin: 0;
  max-width: none;
}

.middle-fullscreen {
  display: table-cell;
  vertical-align: middle;
}

.box-home {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-right: 3px solid black;
  background-color: $red-color;
  padding: 25px 0;
  font-family: $font-default;
  h1 {
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 1.5em;
    font-family: $font-default;
    padding: 2px;
    a, a:link, a:visited, a:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.default-form {
  h2, label {
    font-family: $font-default;
  }
  h2 {
    margin-bottom: 20px;
    color: $red-color;
  }
  a {
    color: $red-color;
  }
}

.profile {
  h1 {
    font-family: $font-default;
    color: black;
    font-weight: bold;
  }
  h2 {
    font-family: $font-special;
    color: $red-color;
    font-size: 1.5em;
  }

  a {
    color: $red-color;
    outline: 0 !important;
    font-family: $font-special;
  }

  a:hover {
    text-decoration: underline;
    opacity: 0.7;
  }

  .box-answered-questions {
    background-color: $red-color;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: white;
    h3 {
      font-size: 1.2em;
      font-family: $font-special;
      margin-top: 0;
    }
    h4 {
      font-size: 3em;
      font-weight: bold;
      font-family: 'Viga', sans-serif;
      margin-bottom: 0;
    }
  }

  .box-question {
    border: 2px solid rgb(234, 235, 236);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;

    h1 {
      color: $red-color;
      font-size: 1.7em;
      font-weight: lighter;
    }
    p {
      font-family: $font-special;
      padding: 5px;
      color: black;
    }
    
    .sender_profile {
      font-size: 0.8em;
      margin-bottom: 0;
      padding: 0;
      font-style: italic;
      font-weight: bold;
      color: #616161;
      span {
        color: rgb(154, 155, 156);
        font-style: normal;
        font-weight: normal;
      }
    }
  }

  .empty-message {
    font-family: $font-special;
    color: gray;
    margin-top: 50px;
    span {
      font-weight: bold;
    }
  }
}

.form-ccc {
  margin-top: 15px;
  font-family: $font-special;

  textarea {
    box-shadow: none !important;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-group label {
    color: gray;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .form-check {
    margin-top: 1px;
    font-size: 0.9em;
    color: gray;
  }
  .form-check label {
    margin-top: 2px;
  }
  .btn {
    font-family: $font-default;
    background-color: $red-color;
  }
  .btn:hover {
    opacity: 0.8;
  }
}

.received-questions {
  .title {
   font-family: $font-default;
    margin-bottom: 30px;
  }
  .list-received-questions {
    font-family: $font-default;
    margin: 15px 0px 15px 0px;
    border: 2px solid lightgray;
    padding: 20px;
    border-radius: 15px;
    a:link, a:visited, a:hover {
      color: $red-color;
      font-family: $font-default;
    }
    h1 {
      font-size: 1.5em;
      color: $red-color;
    }
    small em {
      font-family: $font-special;
    }
  }
}
