<%= form_with(url: explore_path, local: true, class: 'form-ccc', method: :get) do |form| %>
  <div class="input-group">
    <%= form.text_field :username, id: :user_username, class: 'form-control', placeholder: 'Type the username here...', autofocus: 'autofocus' %>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-ccc-search">
          <%= fa_icon "search" %>
      </button>
    </span>
  </div>
<% end %>
