<div class="container profile">
  <br><br>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Oops...</h1>
      <h2>Page not found );</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to 'Go to Home Page', me_path, class:"nav-link"%>
    </div>
  </div>
</div>
